{% extends "layouts/main.html" %} {% block pageTitle %} GOV.UK page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block beforeContent
%}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="/childcare-and-parenting"
            >Childcare and parenting</a
          >
        </li>
        <li class="govuk-breadcrumbs__list-item">
          <a
            class="govuk-breadcrumbs__link"
            href="/the-law-on-leaving-your-child-on-their-own"
            >Childcare</a
          >
        </li>
      </ol>
    </nav>
  </div>
</div>
{% endblock %} {% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          The law on leaving your child on their own
        </h1>

        <p class="govuk-body">
          The law does not say an age when you can leave a child on their own,
          but it’s an offence to leave a child alone if it places them at risk.
        </p>
        <p class="govuk-body">
          Use your judgement on how mature your child is before you decide to
          leave them alone, for example at home or in a car.
        </p>
        <p class="govuk-body">
          The <a
            href="https://www.nspcc.org.uk/keeping-children-safe/in-the-home/home-alone/"
            class="govuk-body"
            >National Society for the Prevention of Cruelty to Children
            (NSPCC)</a
          > says:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            children under 12 are rarely mature enough to be left alone for a
            long period of time
          </li>
          <li>children under 16 should not be left alone overnight</li>
          <li>
            babies, toddlers and very young children should never be left alone
          </li>
        </ul>

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            Parents can be prosecuted if they leave a child unsupervised ‘in a
            manner likely to cause unnecessary suffering or injury to health’.
          </strong>
        </div>
      </div>
    </div>
  </main>
</div>

{% endblock %}
